<section class="sombras margin">
            
    <div class="row justify-content-center">
        <h2 class="col-auto color-rojo">Proyectos</h2>
    </div>

    <div class="row justify-content-center">

        <div class="col-12">

            <div class="row centrar">
                
                <div class="col-lg-5 col-12 sombras m-3">

                    <div>
                        <h3 class="centrar">
                            Gestion de Tareas
                        </h3>

                        <p class="centrar">
                            Administrador de tareas en Django con funcionalidades completas de CRUD, 
                            registro y login de usuarios. Utilizacion de bootstrap para los estilos.
                            SQLite3 como base de datos en desarrollo y PostgreSQL en produccion.
                            Desplegado en Render, ya que esta con el plan free puede tardar 1 minuto en cargar.
                        </p>
                        <div class="row">
                            <a href="https://github.com/Maurii323/Tareas" class="col centrar link-secondary d-flex justify-content-end fs-1" target="_blank">
                                <i class="bi bi-github"></i>
                            </a>
    
                            <a href="https://tareas-django-0c7i.onrender.com" class="col centrar link-secondary d-flex justify-content-start fs-1" target="_blank">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="col-lg-5 col-12 sombras m-3">
                    
                    <div>
                        <h3 class="centrar">
                            Torneos de Futbol
                        </h3>

                        <p class="centrar">
                            Administrador de torneos de fultbol en Django. Utilizacion de bootstrap para los estilos.
                            SQLite3 como base de datos en desarrollo y PostgreSQL en produccion.
                            Desplegado en Render, ya que esta con el plan free puede tardar 1 minuto en cargar.
                        </p>
                        <br>
                        <div class="row">
                            <a href="https://github.com/Maurii323/Torneos" class="col centrar link-secondary d-flex justify-content-end fs-1" target="_blank">
                                <i class="bi bi-github"></i>
                            </a>
    
                            <a href="https://torneos-django.onrender.com" class="col centrar link-secondary d-flex justify-content-start fs-1" target="_blank">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-5 col-12 sombras m-3">

                    <div>
                        <h3 class="centrar">
                            Backend Finanzas
                        </h3>

                        <p class="centrar">
                            Api del proyecto finanzas desarrollado en Django Rest Framework, con funcionalidades de autenticacion con JWT
                            y CRUD de transacciones y sus categorias.
                            SQLite3 como base de datos en desarrollo y PostgreSQL en produccion.
                        </p>
                        <div class="row">
                            <a href="https://github.com/Maurii323/Tareas" class="col link-secondary d-flex justify-content-center fs-1" target="_blank">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="col-lg-5 col-12 sombras m-3">
                    
                    <div>
                        <p class="centrar" >
                            proyecto 4
                        </p>

                        <p class="centrar">
                            Nombre del Proyecto
                        </p>

                        <a href="" class="centrar" target="_blank">
                            link del proyecto en gitHub
                        </a>

                        <a href="" class="centrar" target="_blank">
                            Url del proyecto
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>