<section class="sombras margin">
            
    <div class="row justify-content-center">
        <h2 class="col-auto color-rojo">Proyectos</h2>
    </div>

    <div class="row justify-content-center">

        <div class="col-12">

            <div class="row centrar">
                
                <div class="col-lg-5 col-12 sombras m-3">

                    <div>
                        <h3 class="centrar">
                            Gestion de Tareas
                        </h3>

                        <p class="centrar">
                            Administrador de tareas en Django con funcionalidades completas de CRUD, 
                            registro y login de usuarios. Utilizacion de bootstrap para los estilos.
                            SQLite3 como base de datos en desarrollo y PostgreSQL en produccion(alojada en Neon).
                            Desplegado en Render, ya que esta con el plan free puede tardar 1 minuto en cargar.
                        </p>
                        <div class="row">
                            <a href="https://github.com/Maurii323/Tareas" class="col centrar link-secondary d-flex justify-content-end fs-1" target="_blank">
                                <i class="bi bi-github"></i>
                            </a>
    
                            <a href="https://tareas-django-0c7i.onrender.com" class="col centrar link-secondary d-flex justify-content-start fs-1" target="_blank">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="col-lg-5 col-12 sombras m-3">
                    
                    <div>
                        <h3 class="centrar">
                            Torneos de Futbol
                        </h3>

                        <p class="centrar">
                            Administrador de torneos de fultbol en Django. Utilizacion de bootstrap para los estilos.
                            SQLite3 como base de datos en desarrollo y PostgreSQL en produccion(alojada en Neon).
                            Desplegado en Render, ya que esta con el plan free puede tardar 1 minuto en cargar.
                        </p>
                        <br>
                        <div class="row">
                            <a href="https://github.com/Maurii323/Torneos" class="col centrar link-secondary d-flex justify-content-end fs-1" target="_blank">
                                <i class="bi bi-github"></i>
                            </a>
    
                            <a href="https://torneos-django.onrender.com" class="col centrar link-secondary d-flex justify-content-start fs-1" target="_blank">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-5 col-12 sombras m-3">

                    <div>
                        <h3 class="centrar">
                            BackEnd Finanzas
                        </h3>

                        <p class="centrar">
                            Api del proyecto finanzas desarrollado en Django Rest Framework, con funcionalidades de autenticacion con JWT(access y refresh token)
                            y CRUD de transacciones y sus categorias.
                            SQLite3 como base de datos en desarrollo y PostgreSQL en produccion(alojada en Neon).
                            Uso de Postman para testear los endpoints y render para alojar la api.
                        </p>
                        <div class="row">
                            <a href="https://github.com/Maurii323/finanzas-back" class="col link-secondary d-flex justify-content-center fs-1" target="_blank">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="col-lg-5 col-12 sombras m-3">
                    
                    <div>
                        <h3 class="centrar">
                            FrontEnd Finanzas
                        </h3>

                        <p class="centrar">
                            Front desarrollado en Angular que consume la api "BackEnd Finanzas", con funcionalidades de autenticacion con JWT(access y refresh token)
                            y CRUD de transacciones y sus categorias. Luego de hacer la primera consulta a la api(registrarse o loguearse) tardara 1 minuto debido al plan gratuito de render
                        </p>
                        <br>
                        <div class="row">
                            <a href="https://github.com/Maurii323/finanzas-front" class="col centrar link-secondary d-flex justify-content-end fs-1" target="_blank">
                                <i class="bi bi-github"></i>
                            </a>
    
                            <a href="https://finanzas-arroyo.netlify.app" class="col centrar link-secondary d-flex justify-content-start fs-1" target="_blank">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>