<section class="sombras margin">
            
    <div class="row justify-content-center">
        <h2 class="col-auto color-rojo">Projects</h2>
    </div>

    <div class="row justify-content-center">

        <div class="col-12">

            <div class="row centrar">
                
                <div class="col-lg-5 col-12 sombras m-3">

                    <div>
                        <h3 class="centrar">
                            task management
                        </h3>

                        <p class="centrar">
                            Django task manager with full CRUD functionalities, 
                            user registration and login. Using bootstrap for styles.
                            SQLite3 as a database in development and PostgreSQL in production (hosted in Neon).
                            Displayed in Render, since it is with the free plan it may take 1 minute to load.
                        </p>
                        <div class="row">
                            <a href="https://github.com/Maurii323/Tareas" class="col centrar link-secondary d-flex justify-content-end fs-1" target="_blank">
                                <i class="bi bi-github"></i>
                            </a>
    
                            <a href="https://tareas-django-0c7i.onrender.com" class="col centrar link-secondary d-flex justify-content-start fs-1" target="_blank">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="col-lg-5 col-12 sombras m-3">
                    
                    <div>
                        <h3 class="centrar">
                            Football Tournament Manager
                        </h3>

                        <p class="centrar">
                            Football tournament manager in Django. Using bootstrap for styles.
                            SQLite3 as a database in development and PostgreSQL in production (hosted in Neon).
                            Displayed in Render, since it is with the free plan it may take 1 minute to load.
                        </p>
                        <br>
                        <div class="row">
                            <a href="https://github.com/Maurii323/Torneos" class="col centrar link-secondary d-flex justify-content-end fs-1" target="_blank">
                                <i class="bi bi-github"></i>
                            </a>
    
                            <a href="https://torneos-django.onrender.com" class="col centrar link-secondary d-flex justify-content-start fs-1" target="_blank">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-5 col-12 sombras m-3">

                    <div>
                        <h3 class="centrar">
                            BackEnd Finance
                        </h3>

                        <p class="centrar">
                            Api of the finance project developed in Django Rest Framework, with authentication functionalities with JWT (access and refresh token)
                            and CRUD of transactions and their categories.
                            SQLite3 as a database in development and PostgreSQL in production (hosted in Neon).
                            Using Postman to test the endpoints and render to host the API.
                        </p>
                        <div class="row">
                            <a href="https://github.com/Maurii323/finanzas-back" class="col link-secondary d-flex justify-content-center fs-1" target="_blank">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="col-lg-5 col-12 sombras m-3">
                    
                    <div>
                        <h3 class="centrar">
                            FrontEnd Finance
                        </h3>

                        <p class="centrar">
                            Front developed in Angular that consumes the "BackEnd Finance" api, with authentication functionalities with JWT (access and refresh token)
                            and CRUD of transactions and their categories. After making the first query to the api (register or log in) it will take 1 minute due to the free rendering plan
                        </p>
                        <br>
                        <div class="row">
                            <a href="https://github.com/Maurii323/finanzas-front" class="col centrar link-secondary d-flex justify-content-end fs-1" target="_blank">
                                <i class="bi bi-github"></i>
                            </a>
    
                            <a href="https://finanzas-arroyo.netlify.app" class="col centrar link-secondary d-flex justify-content-start fs-1" target="_blank">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>