<section class="sombras margin">
    <div class="row justify-content-center">
        <h2 class="col-auto color-rojo">Educacion</h2>
    </div>

    <div class="row justify-content-center ">

        <div class="col-8 mw-100">

            <div class="row centrar ">
                <table class="table">

                    <thead>
                
                      <tr>
                
                        <th scope="col" class="color-rojo">Institucion</th>
                
                        <th scope="col" class="color-rojo">Nombre del Curso</th>

                        <th scope="col" class="color-rojo">Certificado</th>
                
                      </tr>
                
                    </thead>
                
                    <tbody>

                      <tr>
                
                        <th scope="row">Esc. Superior Nº 49  "Cap. Gral. J.J. Urquiza",Rosario</th>
                
                        <td>Tecnicatura en Desarrolador de Software</td>
                
                        <td>
                            <a class="btn" href="" target="_blank">Cursando</a>
                        </td>
                
                      </tr>
                
                      <tr>
                
                        <th scope="row">Udemy</th>
                
                        <td>Desarrollo web full stack</td>

                        <td>
                            <a class="btn" href="" target="_blank"> Cursando</a>
                        </td>
                
                      </tr>

                      <tr>
                
                        <th scope="row">Institución Salesiana Nuestra Señora Del Rosario</th>
                
                        <td>Introducción a la Programación,2021(2 meses)</td>
                
                        <td>
                            <a class="btn btn-link" href="https://drive.google.com/file/d/1j8oESsr4wAaSUldV6DHLb5EdPdkcrHny/view?usp=sharing" target="_blank"> Click aqui</a>
                        </td>
                
                      </tr>

                      <tr>
                
                        <th scope="row">Saint Pauls Institute</th>
                
                        <td>INGLES-Pre Intermediate Adults</td>
                
                        <td>
                            <a class="btn" href="" target="_blank"> Cursando</a>
                        </td>
                
                      </tr>
                
                    </tbody>
                
                  </table>
            </div>

        </div>

    </div>
</section>