<section class="sombras margin sobreMi">
    <div class="row justify-content-center">
        <h2 class="col-auto color-rojo">Sobre Mi</h2>
    </div>

    <div class="row justify-content-center">

        <div class="col-8">

            <div class="row">
                
                <div class="col-lg-6 col-12 justify-content-center">
                    <div class="justify-content-center">
                        <h3 class="col-12">Mauricio Arroyo</h3>
                        <h4 class="col-12">Desarrollador web Jr</h4>
                        <ul>
                            <li>
                                <h5 class="col-12">Fecha de nacimiento:29/05/2003</h5>
                            </li>

                            <li>
                                <h5 class="col-12">Nacionalidad: Argentina</h5>
                            </li>

                            <li>
                                <h5 class="col-12">Ciudad: Rosario</h5>
                            </li>
            
                            <li>
                                <h5 class="col-12">DNI: 44995158</h5>
                            </li>
            
                            <li>
                                <h5 class="col-12">Telefono: +54 9 341 380 6446</h5>
                            </li>
            
                            <li>
                                <h5 class="col-12">Correo: Mauricio__Arroyo&#64;hotmail.com</h5>
                            </li>

                        </ul>
                    </div>

                </div>
                
                <p class="col-lg-6 col-12 centrar">
                    ¡Hola! Soy una persona proactiva, comprometida y responsable, con habilidades para trabajar en equipo y comunicar de manera efectiva. 
                    Mi capacidad de aprendizaje, adaptación y solución de problemas, me permitirá contribuir positivamente a cualquier proyecto en el que trabaje.
                    Busco una oportunidad para comenzar mi carrera en el rubro en un ambiente donde pueda crecer como profesional, aportar valor a la empresa y contribuir al éxito del equipo de desarrollo.
                    Además de las tecnologías utilizadas en mis proyectos, tengo una gran predisposición para aprender cualquier otra tecnología que se requiera, siempre dispuesto a adaptarme a las necesidades de la empresa.          
                </p>

            </div>

        </div>

    </div>
</section>